#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button:active {
  background-color: rgba(100, 108, 255, 0.6666666667);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1f1f1f;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1000;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.registry-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.registry-page .login-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  text-decoration: underline;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}
.registry-page .login-button:hover {
  color: #0056b3;
  text-decoration: none;
}
.registry-page .login-button:active {
  color: #003366;
}
.registry-page h1 {
  text-align: center;
  margin-bottom: 20px;
}
.registry-page p {
  color: green;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.registry-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.registry-page input {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
}
.registry-page label {
  margin-right: 8px;
}
.registry-page button {
  margin-bottom: 16px;
  background-color: rgba(100, 108, 255, 0.6666666667);
  color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.registry-page button:hover {
  background-color: rgba(98, 106, 255, 0.431372549);
}

.registry-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 300px;
  padding-bottom: 16px;
  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(255, 255, 255, 0.1);
}
.registry-login button {
  align-items: center;
  justify-content: center;
  align-self: center;
}
.registry-login input {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 24px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.registry-login input::-moz-placeholder {
  color: #aaa;
  font-style: italic;
}
.registry-login input::placeholder {
  color: #aaa;
  font-style: italic;
}
.registry-login input:hover {
  background-color: #f9f9f9;
  border-color: #b3b3b3;
}
.registry-login p {
  font-family: Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.calendar {
  text-align: "center";
  margin-top: "20px";
}
.calendar ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.calendar ul h3 {
  grid-column: 1/3;
}
.calendar ul li:nth-of-type(2n + 1) {
  grid-column: 1;
}
.calendar ul li:nth-of-type(2n) {
  grid-column: 2;
}
.calendar ul button {
  width: 500px;
}
.calendar .selected {
  background-color: rgba(100, 108, 255, 0.6666666667);
}

.home .button-container {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
.home .button-container button {
  padding: 16px 40px;
}

.search-area {
  margin-top: 50px;
}
.search-area li {
  list-style-type: none;
}
.search-area input {
  max-width: 800px;
  width: 90%;
  padding: 12px 20px;
  margin: 20px auto;
  display: block;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.search-area input:focus {
  border-color: rgba(100, 108, 255, 0.6666666667);
  box-shadow: 0px 0px 8px rgba(100, 108, 255, 0.6666666667);
}

.reservations-page {
  margin-top: 50px;
}
.reservations-page .no-reservations {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}
.reservations-page .reservations {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.reservations-page .reservations ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.reservations-page .reservations li {
  display: flex;
  gap: 16px;
}
.reservations-page .reservations li button {
  border: 1px solid rgba(100, 108, 255, 0.6666666667);
}
.reservations-page .reservations div {
  border: 1px solid rgba(100, 108, 255, 0.6666666667);
  border-radius: 10px;
  width: 900px;
  padding: 12px;
  background-color: rgba(100, 108, 255, 0.6666666667);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.reservations-page .reservations .active {
  color: rgb(73, 199, 102);
}
.reservations-page .reservations .expired {
  color: rgb(234, 47, 47);
}

.admin-panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.admin-panel .button-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.restaurant-list {
  margin-top: 50px;
  display: grid;
}
.restaurant-list li {
  display: grid;
  grid-template-columns: 7fr 1fr;
  gap: 16px;
  margin: 16px 0;
}
.restaurant-list li div {
  border: 1px solid rgba(100, 108, 255, 0.6666666667);
  border-radius: 10px;
  grid-column: 1;
  padding: 12px;
  background-color: rgba(100, 108, 255, 0.6666666667);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.restaurant-list li button {
  grid-column: 2;
}

.new-restaurant button {
  margin-bottom: 10px;
}
.new-restaurant .restaurant-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.new-restaurant div {
  border: 1px solid rgba(100, 108, 255, 0.6666666667);
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 10px;
}
.new-restaurant .error-message {
  border: none;
}
.new-restaurant input {
  display: flex;
  align-self: center;
  width: 80%;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.new-restaurant input:focus {
  border-color: rgba(100, 108, 255, 0.6666666667);
  box-shadow: 0px 0px 8px rgba(100, 108, 255, 0.6666666667);
}

.admin-reservations-page li {
  list-style-type: none;
}/*# sourceMappingURL=App.css.map */